interactions:
- request:
    body: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n        <env:Envelope\n
      \               xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n                xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
      \               xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\n                xmlns:urn=\"urn:partner.soap.sforce.com\">\n
      \           <env:Header>\n                <urn:CallOptions>\n                    <urn:client>RestForce</urn:client>\n
      \                   <urn:defaultNamespace>sf</urn:defaultNamespace>\n                </urn:CallOptions>\n
      \           </env:Header>\n            <env:Body>\n                <n1:login
      xmlns:n1=\"urn:partner.soap.sforce.com\">\n                    <n1:username>REDACTED</n1:username>\n
      \                   <n1:password>REDACTED</n1:password>\n                </n1:login>\n
      \           </env:Body>\n        </env:Envelope>"
    headers:
      SOAPAction:
      - login
      charset:
      - UTF-8
      content-type:
      - text/xml
    method: POST
    uri: https://login.salesforce.com/services/Soap/u/38.0
  response:
    body:
      string: !!python/unicode <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns="urn:partner.soap.sforce.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><loginResponse><result><metadataServerUrl>https://glicksoftware-dev-ed.my.salesforce.com/services/Soap/m/38.0/00D8a000003h4LM</metadataServerUrl><passwordExpired>false</passwordExpired><sandbox>false</sandbox><serverUrl>https://glicksoftware-dev-ed.my.salesforce.com/services/Soap/u/38.0/00D8a000003h4LM</serverUrl><sessionId>FAKE_SESSION</sessionId><userId>0058a00000KrMXuAAN</userId><userInfo><accessibilityMode>false</accessibilityMode><currencySymbol>$</currencySymbol><orgAttachmentFileSizeLimit>26214400</orgAttachmentFileSizeLimit><orgDefaultCurrencyIsoCode>USD</orgDefaultCurrencyIsoCode><orgDefaultCurrencyLocale>en_US</orgDefaultCurrencyLocale><orgDisallowHtmlAttachments>false</orgDisallowHtmlAttachments><orgHasPersonAccounts>false</orgHasPersonAccounts><organizationId>00D8a000003h4LMEAY</organizationId><organizationMultiCurrency>false</organizationMultiCurrency><organizationName>Glick
        Software</organizationName><profileId>00e8a000002TVflAAG</profileId><roleId
        xsi:nil="true"/><sessionSecondsValid>7200</sessionSecondsValid><userDefaultCurrencyIsoCode
        xsi:nil="true"/><userEmail>david+plone@glicksoftware.com</userEmail><userFullName>David
        Glick</userFullName><userId>0058a00000KrMXuAAN</userId><userLanguage>en_US</userLanguage><userLocale>en_US</userLocale><userName>david+plone@glicksoftware.com</userName><userTimeZone>America/Los_Angeles</userTimeZone><userType>Standard</userType><userUiSkin>Theme3</userUiSkin></userInfo></result></loginResponse></soapenv:Body></soapenv:Envelope>
    headers:
      content-type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"LastName": "McTesterson"}'
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: POST
    uri: https://glicksoftware-dev-ed.my.salesforce.com/services/data/v38.0/sobjects/Contact/
  response:
    body:
      string: !!python/unicode "{\n  \"id\" : \"0038a00002uObOdAAK\",\n  \"success\"
        : true,\n  \"errors\" : [ ]\n}"
    headers:
      content-type:
      - application/json;charset=UTF-8
      location:
      - /services/data/v38.0/sobjects/Contact/0038a00002uObOdAAK
      sforce-limit-info:
      - api-usage=10/15000
    status:
      code: 201
      message: Created
version: 1
